

/* side menu active link customize styles */
.menu__link svg path { @apply fill-white; }
.menu__link.dark svg path { @apply fill-[#B2C4D8]; }
.menu__link.active svg path { @apply fill-primary; } 

.apexcharts-canvas {
    width: 100% !important;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  