@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* { @apply m-0 p-0; box-sizing: border-box;font-family: 'Open Sans', sans-serif !important; }
html { text-rendering: optimizeLegibility;overflow-x: hidden; }
body { font-family: 'Open Sans', sans-serif; @apply bg-gray-bg sm:p-4 p-2; }

button, a { @apply transition-all duration-300; }

.table { @apply w-full border-collapse text-left }
.table th { @apply bg-thead-bg !text-primary font-bold uppercase }
.table th, .table td { @apply px-5 py-3 text-dark }


/* global antd table styles */
.ant-table-wrapper .ant-table-thead .ant-table-cell { @apply !bg-thead-bg !text-primary font-bold uppercase !py-3 }
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > :first-child { border-start-start-radius: 0 !important; } 
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > :last-child { border-start-end-radius: 0 !important; }
.ant-table-wrapper .ant-table-tbody > tr > td { color: #5B5D66;border-bottom: 0; }

.ant-tabs-tab-active  { @apply bg-black relative z-20}

/* global button styles */
.btn-primary {
    @apply text-base h-12 font-semibold bg-primary text-white px-5 py-3 rounded-lg hover:bg-primary-light focus:bg-primary-light
}
.btn-primary.secondary {
    @apply bg-secondary hover:bg-slate-300 hover:text-primary focus:bg-primary-light
}